<footer class="w-full py-12 md:py-16 bg-slate-100 dark:bg-slate-950">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 md:gap-12 px-4 md:px-8 max-w-7xl mx-auto"
  >
    <div class="col-span-1">
      <span class="text-xl font-bold text-[#2C3E50] dark:text-slate-200 font-headline mb-6 block"
        >Castilglass</span
      >
      <p class="text-slate-500 text-sm leading-relaxed">
        © 2026 Castilglass. Industrial Precision &amp; Glass Fabrication. Especialistas en
        soluciones arquitectónicas de alto rendimiento.
      </p>
    </div>
    <div>
      <h4
        class="text-[10px] md:text-xs font-label font-bold uppercase tracking-widest text-[#216394] mb-4 md:mb-6"
      >
        CONTACTO
      </h4>
      <ul class="space-y-3 md:space-y-4">
        <li class="">
          <a
            class="text-slate-500 hover:text-[#216394] underline decoration-2 underline-offset-4 transition-all text-sm"
            href="tel:+34600952607"
            >+34 600 952 607</a
          >
        </li>
        <li class="">
          <a
            class="text-slate-500 hover:text-[#216394] underline decoration-2 underline-offset-4 transition-all text-sm"
            href="mailto:castilglass@hotmail.com"
            >castilglass@hotmail.com</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h4
        class="text-[10px] md:text-xs font-label font-bold uppercase tracking-widest text-[#216394] mb-4 md:mb-6"
      >
        UBICACIÓN
      </h4>
      <ul class="space-y-3 md:space-y-4 text-sm text-slate-500">
        <li class="">Polígono Industrial Las Quemadas</li>
        <li class="">Calle Diego Galván, Nave 18</li>
        <li class="">Parcela 280, 14014 Córdoba, España</li>
      </ul>
    </div>
    <div>
      <h4
        class="text-[10px] md:text-xs font-label font-bold uppercase tracking-widest text-[#216394] mb-4 md:mb-6"
      >
        LEGAL
      </h4>
      <ul class="space-y-3 md:space-y-4">
        <li class="">
          <a
            class="text-slate-500 hover:text-[#216394] underline decoration-2 underline-offset-4 transition-all text-sm"
            routerLink="/aviso-legal"
            >Aviso Legal</a
          >
        </li>
        <li class="">
          <a
            class="text-slate-500 hover:text-[#216394] underline decoration-2 underline-offset-4 transition-all text-sm"
            routerLink="/politica-privacidad"
            >Política de Privacidad</a
          >
        </li>
        <li class="">
          <a
            class="text-slate-500 hover:text-[#216394] underline decoration-2 underline-offset-4 transition-all text-sm"
            routerLink="/politica-cookies"
            >Cookies</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
