# Dependencies
/node_modules

# Build output
/dist
/tmp
/out-tsc
/bazel-out

# Angular cache
/.angular/cache

# IDEs / editors
/.idea
/.vscode/*
!/.vscode/extensions.json
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*

# Misc
.DS_Store
Thumbs.db
npm-debug.log*
yarn-error.log
*.log

# Env
.env
.env.*

# aider
.aider*
