/* You can add global styles to this file, and also import other style files */

@config '../tailwind.config.mjs';
@import 'tailwindcss';

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
.glass-nav {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.metallic-gradient {
  background: linear-gradient(135deg, #216394 0%, #0a5787 100%);
}
/* Mobile Menu Toggle Logic */
#mobile-menu-toggle:checked ~ #mobile-menu {
  display: flex;
}
